:root {
    --givewp-spacing-1: 0.25rem;
    --givewp-spacing-2: 0.5rem;
    --givewp-spacing-3: 0.75rem;
    --givewp-spacing-4: 1rem;
    --givewp-spacing-5: 1.25rem;
    --givewp-spacing-6: 1.5rem;
    --givewp-spacing-7: 1.75rem;
    --givewp-spacing-8: 2rem;
    --givewp-spacing-9: 2.25rem;
    --givewp-spacing-10: 2.5rem;
    --givewp-spacing-11: 2.75rem;
    --givewp-spacing-12: 3rem;
    --givewp-spacing-13: 3.25rem;
    --givewp-spacing-14: 3.5rem;
    --givewp-spacing-15: 3.75rem;
    --givewp-spacing-16: 4rem;
    --givewp-spacing-17: 4.25rem;
    --givewp-spacing-18: 4.5rem;
    --givewp-spacing-19: 4.75rem;
    --givewp-spacing-20: 5rem;
    --givewp-spacing-32: 8rem;
    --givewp-spacing-40: 10rem;
    --givewp-spacing-56: 14rem;
    --givewp-spacing-80: 20rem;
    --givewp-spacing-96: 24rem;
}